<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>승우의 채팅서버</title>
  <style>
    body {
      padding: 0 50px;
      text-align: center;
      background-color: antiquewhite;
    }
    #chat {
      background-color: white;
      border: 3px solid black;
      border-radius: 10px;
      height: 650px;
      overflow: auto;
    }
    h1 {
      white-space: normal;
      font-weight: bold;
      font-size: 3em;
      color: rgb(196, 196, 196);
      text-shadow: black 2px 2px 2px;
    }
    .text {
      width: 75%;
      height: 100px;
      margin: 0 10px;
      /*background-color: rgb(216, 216, 216);*/
      font-size: 60px;
      border: 3px solid black;
      border-radius: 10px;
    }
    .send {
      width: 19%;
      height: 100px;
      border: 3px solid black;
      border-radius: 10px;
      font-size: 60px;
    }
    #send {
      margin: 20px 0;
      display: flex;
      align-items: center;
    }
    .name {
      width: 20%;
      height: 100px;
      border: 3px solid black;
      border-radius: 10px;
      font-size: 60px;
      text-align: center;
    }
    #hidden {
      visibility: hidden;
      height: 0;
      padding: 0;
      margin: 0;
      width: 0;
    }
  </style>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var name = '';

    socket.on('receive message', function(msg){
      document.getElementById('chat').innerHTML += '<h2>' + msg + '</h2>';
    });

    function submition() {
      if (document.getElementById('text').value == '/user')
        socket.emit('show users');
      else if(document.getElementById('text').value)
        socket.emit('send message', name, document.getElementById('text').value);
      document.getElementById('text').value = '';
    }
  </script>
</head>
<body>
  <h1>승우의 채팅 서버</h1>
  <div id="chat">

  </div>
  <form action="" id="send" onsubmit="submition(); return false;">
    <!--<input type="text" id="name" class="name" placeholder="이름">-->
    <input type="text" id="text" class="text">
    <input type="submit" value="전송" class="send">
  </form>
  <div id="hidden"><%= name %></div>
  <script>
    name = document.getElementById('hidden').innerHTML;
    socket.emit('create name', document.getElementById('hidden').innerHTML);
    document.getElementById('hidden').innerHTML = '';
  </script>
</body>
</html>