<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .center {
        text-align: center;
      }
      .title {
        font-size: 3em;
        border: 1px solid gray;
      }
      .content {
        font-size: 2em;
        border: 1px solid gray;
      }
      .main {
        padding: 0 100px;
      }
      .submit {
        font-size: 2em;
      }
      #main-on-off {
        position: relative; 
        right: 50%;
        top: 20px;
        background-color: white;
      }
      .create {
        border: 1px solid gray;
        padding: 50px 50px;
      }
    </style>
  </head>
  <body>
    <section class="container center main">
      <button v-if="isMainOn" id="main-on-off" class="btn btn-outline-secondary" @click="mainChange">▲</button>
      <button v-if="!isMainOn" id="main-on-off" class="btn btn-outline-secondary" @click="mainChange">▼</button>
      <form v-if="isMainOn" class="center form-group create">
        <input type="text" placeholder="제목" class="form-control title center" id="author"><br>
        <textarea class="form-control content" rows="5" placeholder="메모 내용" id="content"></textarea> <br>
        <button type="button" class="btn btn-lg btn-outline-primary submit" onclick="send()">&ThinSpace;작성&ThinSpace;</button>
      </form>
      <br v-if="!isMainOn"><br v-if="!isMainOn"><br v-if="!isMainOn">
      <div class="container center view row" id="view">

      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el : '.main',
        data : {
          isMainOn : false
        },
        methods : {
          mainChange : function() {
            this.isMainOn = !this.isMainOn;
          }
        }
      });
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/template.js"></script>
    <script>
      var socket = io();

      socket.on('new data', function(data) {
        document.getElementById('view').innerHTML = '';

        for (let i in data) {
          let author = data[i].author;
          let content = data[i].contents;
          let date = data[i].date;

          document.getElementById('view').innerHTML += writeTemplate(author, content, date);
        }

        
      });
      function send() {
          var author = document.getElementById('author').value;
          var content = document.getElementById('content').value;
          
          if (author && content)
            socket.emit('create', author, content);
        }
    </script>
  </body>
</html>
